<div class="widget widget-user-about">
  <div class="widget-heading">
    <h3 class="widget-title">About Me</h3>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Close</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
  <div class="user-info">
    <p><%= profile.bio %></p>
    <ul class="info-list">
      <li><span>Joined:</span><%= l profile.created_at.to_date %></li>
      <li><span>E-mail:</span><%= profile.email %></li>
      <li><span>Address:</span></li>
      <li><span>Phone:</span></li>
      <li><span>Country:</span></li>
      <li><span>Web:</span></li>
      <li class="social-share"><span>Social:</span>
        <div class="social-icon">
          <a href="#"><i class="icofont-facebook"></i></a>
          <a href="#"><i class="icofont-twitter"></i></a>
          <a href="#"><i class="icofont-dribbble"></i></a>
          <a href="#"><i class="icofont-whatsapp"></i></a>
          <a href="#"><i class="icofont-instagram"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
