    <div class="block-box user-about">
      <div class="widget-heading">
        <h3 class="widget-title">Education and Employment</h3>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Close</a>
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </div>
      </div>
      <ul class="user-info">
        <li>
          <label>Education:</label>
          <p>The New College of Design</p>
        </li>
        <li>
          <label>Institution:</label>
          <p>Radiustheme.com</p>
        </li>
        <li>
          <label>Employment:</label>
          <p>UI/UX Designer</p>
        </li>
        <li>
          <label>Year:</label>
          <p>2008-2020</p>
        </li>
      </ul>
    </div>
