<div class="block-box user-top-header">
  <ul class="menu-list">
    <li><a href="#">Timeline</a></li>
    <li class="active"><%= link_to 'About', profile %></li>
    <li><a href="#">Friends</a></li>
    <li><a href="#">Circles</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Videos</a></li>
  </ul>
</div>
