<div class="block-box user-about">
  <div class="widget-heading">
    <h3 class="widget-title">Hobbies and Interests</h3>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Close</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
  <ul class="user-info">
    <li>
      <label>My Hobbies:</label>
      <p>when an unknown printer took a galley of type and scrambledmake a type specimen It has survived not only five centuries</p>
    </li>
    <li>
      <label>Favourite Music Bands/Artists:</label>
      <p>Iron Maid, DC/AC, Megablow, The Ill, Kung Fighters, System of a Revenge.</p>
    </li>
    <li>
      <label>Favourite TV Shows:</label>
      <p>Breaking Good, RedDevil, People of Interest, The Running Dead, Found,</p>
    </li>
    <li>
      <label>Favourite Books:</label>
      <p>The Crime of the Century, Egiptian Mythology 101, The Scarred Wizard, Lord of the Wings, Amongst Gods, The Oracle, A Tale of Air and Water.</p>
    </li>
    <li>
      <label>Favourite Movies:</label>
      <p>Idiocratic, The Scarred Wizard and the Fire Crown, Crime Squad, Ferrum Man.</p>
    </li>
    <li>
      <label>Other Activities:</label>
      <p>Swimming, Surfing, Scuba Diving, Anime, Photography, Tattoos, Street Art.</p>
    </li>
  </ul>
</div>
