<div class="post-comment">
  <ul class="comment-list">
    <% status.children.each do |comment| %>
      <li class="main-comments">
        <%= render 'statuses/comment', status: comment %>
        <% if comment.children.size > 0 %>
          <ul class="children">
            <% comment.children.each do |child_comment| %>
              <li class="main-comments">
                <%= render 'statuses/comment', status: child_comment %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%# <div class="load-more-btn"> %>
    <%#   <a href="#" class="item-btn">Load More Comments <span>4+</span></a> %>
    <%# </div> %>
  <div class="collapse" id="commentReply<%= status.id %>">
    <div class="comment-reply">
      <div class="user-img">
        <%= image_tag "https://api.dicebear.com/7.x/micah/jpg?seed=#{status.profile.full_name.underscore}" %>
      </div>
      <div class="input-box">
        <input type="text" name="comment" class="form-control" placeholder="Your Reply....">
      </div>
    </div>
  </div>
</div>
