<% if status.reactions.size > 0 %>
  <div class="post-reaction">
    <div class="reaction-icon">
      <% most_received_reactions(status).each do |reaction, _count| %>
        <%= image_tag "/media/figure/reaction_#{reaction}.png" %>
      <% end %>
    </div>
    <% unless status.parent_id %>
      <div class="meta-text"><%= status.reactions.size %></div>
    <% end %>
  </div>
<% end %>
