<div class="block-box post-view">
  <%= render 'statuses/header', status: status %>
  <%= render 'statuses/body', status: status %>
  <%= render 'statuses/footer', status: status %>
  <%= render 'statuses/comments', status: status %>
</div>
