<div class="block-box post-view">
  <%= render 'statuses/header', status: %>
  <%= render 'statuses/body', status: %>
  <%= render 'statuses/footer', status: %>
  <%= render 'statuses/comments', status: %>
</div>
