<div class="widget widget-memebers widget-activity">
  <div class="widget-heading">
    <h3 class="widget-title">Friends Activity</h3>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Close</a>
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
  <div class="activity-list">
    <div class="media">
      <div class="item-img">
        <a href="#">
          <%= image_tag "/media/figure/chat_10.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="item-title">
          <a href="#" class="author-name">Aahat Akter</a>
          commented on Destroy Dex's
          <a href="#" class="activity-link">Photo</a>
        </h4>
        <div class="activity-time">20 minutes ago</div>
      </div>
    </div>
    <div class="media">
      <div class="item-img">
        <a href="#">
          <%= image_tag "/media/figure/chat_8.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="item-title">
          <a href="#" class="author-name">Neko Bebop</a>
          liked Marina
          <a href="#" class="activity-link">Status</a>
        </h4>
        <div class="activity-time">15 minutes ago</div>
      </div>
    </div>
    <div class="media">
      <div class="item-img">
        <a href="#">
          <%= image_tag "/media/figure/chat_1.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="item-title">
          <a href="#" class="author-name">Neko Bebop</a>
          commented on Destroy Dex's
          <a href="#" class="activity-link">Photo</a>
        </h4>
        <div class="activity-time">20 minutes ago</div>
      </div>
    </div>
    <div class="media">
      <div class="item-img">
        <a href="#">
          <%= image_tag "/media/figure/chat_6.jpg" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="item-title">
          <a href="#" class="author-name">Neko Bebop</a>
          commented on Destroy Dex's
          <a href="#" class="activity-link">Photo</a>
        </h4>
        <div class="activity-time">20 minutes ago</div>
      </div>
    </div>
  </div>
</div>
