<div class="widget widget-author">
  <div class="author-heading">
    <div class="cover-img">
      <%= image_tag '/media/figure/shape_12.jpg' %>
    </div>
    <div class="profile-img">
      <%= link_to current_profile do %>
        <%= avatar_for current_profile %>
      <% end %>
    </div>
    <div class="profile-name">
      <h4 class="author-name">
        <%= link_to current_profile.full_name, current_profile %>
      </h4>
      <%# <div class="author-location">Miami, Florida</div> %>
    </div>
  </div>
  <%# <ul class="author-statistics"> %>
  <%#   <li> %>
  <%#     <a href="#"><span class="item-number">30</span> <span class="item-text">POSTS</span></a> %>
  <%#   </li> %>
  <%#   <li> %>
  <%#     <a href="#"><span class="item-number">12</span> <span class="item-text">COMMENTS</span></a> %>
  <%#   </li> %>
  <%#   <li> %>
  <%#     <a href="#"><span class="item-number">1,125</span> <span class="item-text">VIEWS</span></a> %>
  <%#   </li> %>
  <%# </ul> %>
</div>
