<div class="block-box post-input-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-placement="top" title="STATUS">
      <a class="nav-link active" data-bs-toggle="tab" href="#post-status" role="tab" aria-selected="true"><i class="icofont-copy"></i>Status</a>
    </li>
    <li class="nav-item" role="presentation" data-bs-toggle="tooltip" data-placement="top" title="MEDIA">
      <a class="nav-link" data-bs-toggle="tab" href="#post-media" role="tab" aria-selected="false"><i class="icofont-image"></i>Photo/ Video Album</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="post-status" role="tabpanel">
      <textarea name="status-input" id="status-input1" class="form-control textarea" placeholder="Share what are you thinking . . ." cols="30" rows="6"></textarea>
    </div>
    <div class="tab-pane fade" id="post-media" role="tabpanel">
      <%# <label>Media Gallery</label> <a href="#" class="media-insert"><i class="icofont-upload-alt"></i>Upload</a> %>
      <textarea name="status-input" id="status-input2" class="form-control textarea" placeholder="Share what are you thinking . . ." cols="30" rows="6"></textarea>
    </div>
  </div>
  <div class="post-footer">
    <div class="insert-btn">
      <a href="#"><i class="icofont-photobucket"></i></a>
      <a href="#"><i class="icofont-tags"></i></a>
      <a href="#"><i class="icofont-location-pin"></i></a>
    </div>
    <div class="btn-group">
      <button type="button" class="btn submit-btn main-btn">Post to all your circles</button>
      <button type="button" class="btn submit-btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Select circles</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Close Relatives</a></li>
        <li><a class="dropdown-item" href="#">Close Friends</a></li>
        <li><a class="dropdown-item" href="#">Coworkers</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
