
<%= dropdown(container_tag: :li, items_tag: nil, alignment: :end, classname: 'nav-item dropdown-message') do |dd| %>
  <% dd.trigger enabled: notifications.size.positive? do %>
    <i class="icofont-speech-comments"></i>
    <% if notifications.size > 0 %>
      <span class="notify-count"><%= notifications.size %></span>
    <% end %>
  <% end %>
  <% if notifications.size > 0 %>
    <% dd.item do |name, url| %>
      <%= render 'shared/header_dropdown_heading',
                 title: 'Messages',
                 actions: [{ label: 'Settings', url: '#' }, { label: 'Mark all as Read', url: '#' }] %>
      <% dd.item do |name, url| %>
        <div class="item-body">
          <% notifications.each do |notification| %>
            <a href="#" class="media">
              <div class="item-img">
                <%= image_tag '/media/figure/notifiy_1.png' %>
              </div>
              <div class="media-body">
                <h6 class="item-title">Diana Jameson</h6>
                <div class="item-time">15 mins ago</div>
                <p>when are nknowen printer took galley of types ...</p>
              </div>
            </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% dd.item do |name, url| %>
      <div class="item-footer">
        <a href="#" class="view-btn">View All Messages</a>
      </div>
    <% end %>
  <% end %>
<% end %>
