<%= dropdown(container_tag: :li, items_tag: nil, alignment: :end, classname: 'nav-item dropdown-friend') do |dd| %>
  <% dd.trigger enabled: notifications.size.positive? do %>
    <i class="icofont-users-alt-4"></i>
    <% if notifications.size > 0 %>
      <span class="notify-count"><%= notifications.size %></span>
    <% end %>
  <% end %>
  <% if notifications.size > 0 %>
    <% dd.item do |name, url| %>
      <%= render 'shared/header_dropdown_heading',
                 title: 'Friend Requests',
                 actions: [{ label: 'Settings', url: '#' }, { label: 'Mark all as Read', url: '#' }] %>
    <% end %>
    <% dd.item do |name, url| %>
      <div class="item-body">
        <% notifications.each do |notification| %>
          <%= render 'shared/friend_request' %>
        <% end %>
      </div>
    <% end %>
    <% dd.item do |name, url| %>
      <div class="item-footer">
        <a href="#" class="view-btn">View All Friend Request</a>
      </div>
    <% end %>
  <% end %>
<% end %>
