<div class="media">
  <div class="item-img">
    <%= image_tag "/media/figure/chat_5.jpg" %>
    <span class="chat-status offline"></span>
  </div>
  <div class="media-body">
    <h6 class="item-title"><a href="#">Lily Zaman</a></h6>
    <p>4 in mutual friends</p>
    <div class="btn-area">
      <a href="#" class="item-btn" data-bs-toggle="tooltip" data-bs-title="Accept"><i class="icofont-ui-check"></i></a>
      <a href="#" class="item-btn" data-bs-toggle="tooltip" data-bs-title="Reject"><i class="icofont-ui-close"></i></a>
    </div>
  </div>
</div>
