<ul class="mega-menu mega-menu-col-2">
  <li>
    <ul class="sub-menu">
      <li>
        <a href="newsfeed.html">NewsFeed</a>
      </li>
      <li>
        <a href="user-timeline.html">Profile Timeline</a>
      </li>
      <li>
        <a href="user-about.html">Profile About</a>
      </li>
      <li>
        <a href="user-friends.html">Profile Friends</a>
      </li>
      <li>
        <a href="user-groups.html">Profile Group</a>
      </li>
      <li>
        <a href="user-photo.html">Profile Photo</a>
      </li>
      <li>
        <a href="user-video.html">Profile Video</a>
      </li>
    </ul>
  </li>
  <li>
    <ul class="sub-menu">
      <li>
        <a href="user-badges.html">Profile Badges</a>
      </li>
      <li>
        <a href="forums.html">Forums</a>
      </li>
      <li>
        <a href="forums-forum.html">Forums Topic</a>
      </li>
      <li>
        <a href="forums-timeline.html">Forums Timeline</a>
      </li>
      <li>
        <a href="forums-info.html">Forums Info</a>
      </li>
      <li>
        <a href="forums-members.html">Forums Members</a>
      </li>
      <li>
        <a href="forums-media.html">Forums Media</a>
      </li>
    </ul>
  </li>
</ul>
