<div class="fixed-sidebar">
  <div class="fixed-sidebar-left small-sidebar">
    <div class="sidebar-toggle">
      <button class="toggle-btn toggler-open">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="sidebar-menu-wrap">
      <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
        <ul class="side-menu">
          <li><a href="newsfeed.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" NEWSFEED"><i class="icofont-newspaper"></i></a></li>
          <li><a href="user-timeline.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title="MEMBERS TIMELINE"><i class="icofont-list"></i></a></li>
          <li><a href="user-groups.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title="GROUPS"><i class="icofont-users-alt-2"></i></a></li>
          <li><a href="user-friends.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title="MEMBERS FRIENDS"><i class="icofont-users-alt-4"></i></a></li>
          <li><a href="user-photo.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title="GALLERY"><i class="icofont-photobucket"></i></a></li>
          <li><a href="user-video.html" class="menu-link" data-bs-toggle="tooltip" data-bs-placement="right" title="VIDEOS"><i class="icofont-play-alt-1"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-sidebar-left large-sidebar">
    <div class="sidebar-toggle">
      <div class="sidebar-logo">
        <%= image_tag '/media/logo2.png' %></a>
      </div>
      <button class="toggle-btn toggler-close">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="sidebar-menu-wrap">
      <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
        <ul class="side-menu">
          <li><a href="newsfeed.html" class="menu-link"><i class="icofont-newspaper"></i><span class="menu-title">Newsfeed</span></a></li>
          <li><a href="user-timeline.html" class="menu-link"><i class="icofont-list"></i><span class="menu-title">Members Timeline</span></a></li>
          <li><a href="user-groups.html" class="menu-link"><i class="icofont-users-alt-2"></i><span class="menu-title">Groups</span></a></li>
          <li><a href="user-friends.html" class="menu-link"><i class="icofont-users-alt-4"></i><span class="menu-title">Members Friends</span></a></li>
          <li><a href="user-photo.html" class="menu-link"><i class="icofont-photobucket"></i><span class="menu-title">Gallery</span></a></li>
          <li><a href="user-video.html" class="menu-link"><i class="icofont-play-alt-1"></i><span class="menu-title">Videos</span></a></li>
          <li><a href="#" class="menu-link"><i class="icofont-calendar"></i><span class="menu-title">Event Schedule</span></a></li>
          <li><a href="forums-timeline.html" class="menu-link"><i class="icofont-ui-text-chat"></i><span class="menu-title">Forum</span></a></li>
        </ul>
        <ul class="top-menu-mobile">
          <li class="menu-label">Community</li>
          <li>
            <a href="user-about.html" class="menu-link">Profile About</a>
          </li>
          <li>
            <a href="user-badges.html" class="menu-link">Profile Badges</a>
          </li>
          <li>
            <a href="forums.html" class="menu-link">Forums</a>
          </li>
          <li>
            <a href="forums-forum.html" class="menu-link">Forums Topic</a>
          </li>
          <li>
            <a href="forums-info.html" class="menu-link">Forums Info</a>
          </li>
          <li>
            <a href="forums-members.html" class="menu-link">Forums Members</a>
          </li>
          <li>
            <a href="forums-media.html" class="menu-link">Forums Media</a>
          </li>
          <li class="menu-label">Pages</li>
          <li>
            <a href="about-us.html" class="menu-link">About</a>
          </li>
          <li>
            <a href="user-blog.html" class="menu-link">Blog</a>
          </li>
          <li>
            <a href="shop.html" class="menu-link">Shop</a>
          </li>
          <li>
            <a href="single-blog.html" class="menu-link">Blog Details</a>
          </li>
          <li>
            <a href="contact.html" class="menu-link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
