<div class="media">
  <div class="item-img">
    <%= image_tag '/media/figure/notifiy_1.png' %>
  </div>
  <div class="media-body">
    <h6 class="item-title"><a href="#">Lily Zaman</a></h6>
    <div class="item-time">
      4 minutes ago
    </div>
    <p>Lorem Ipsum dolor sit</p>
  </div>
</div>
